
@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header style="text-align:center">
        <img src="~/img/mondo.jpg" width="1000" height="500" />
    </header>
    <h1 style="text-align:center">Il Blog per chi ama viaggiare</h1>
    <p style="text-align:center">

    </p>
    <h5>
        Qui potrete trovare tutte le città i luoghi recinsiti dalla nostra community,
        dove poter scoprire tutte le meraviglie che ci circondano, all'interno potrete conoscere tutte le caratteristiche delle città
        più belle del mondo con i loro pro e contro, in modo tale da poter scegliere con massima conoscienza il tuo prossimo viaggio.
    </h5>
    <p>Clicca qui vedere tutti i luoghi recensiti <a href="https://localhost:44342/Posts">qui.</a></p><br />
    <h4>Partecipa attivamente alla community.</h4>
    <h5>
        Il blog e fondato sul potere della community le vostre esperienza per noi sono importanti, arrichiscono sempre
        di piu il , cosi facendo visitando il blog chiunque potrà trovare la meta ideale per le sue esigenze
    </h5>
    <p>Aggiungi una esperienza di viaggio  <a href=" https://localhost:44342/Posts/Create">Aggiungi.</a></p>
</body>                                            