@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center">Il Blog per i viaggiatori </h1>
<p style="text-align:center">
    <img src="~/img/mondo.jpg" width="700" />
</p>
<h5>Qui potrai trovare tutte le città i luoghi recinsiti dalla nostra community,
  dove poter scoprire tutte le meraviglie che ci circondano, all'interno potrai conoscere tutte le caratteristiche delle città 
  più belle del mondo con i loro pro e contro, in modo tale da poter scegliere con massima conoscienza il tuo prossimo viaggio.</h5> 
<p>Clicca qui vedere tutti i luoghi recensiti <a href="https://localhost:44342/Posts">qui.</a></p>
